*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    border: none;
    background:none;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}
body{
    position: relative;
    font-family: sans-serif;
    background-color: #E5E1DA;
    font-family: sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #F1F0E8;
}

nav{
    margin: auto;
    max-width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    padding: 20px 20px;
}
nav h4{
    padding: 15px 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}
nav span i{
    font-size: 16px;
}
header .cart-btn{
    position: relative;
}
.cart-btn{
    cursor: pointer;
    transition: all .6s ease;
}
header .cart-btn .cart-count{
    position: absolute;
    left: -10px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 5px;
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 50%;
}
.container{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.icons{
    font-size: 25px;
}

.cart-page{
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    display: block;
    background-color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
.cart-page.show { 
    right: 0;
    opacity: 1;
}

.cart-close { 
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
    cursor: pointer;
}
.heading{
    padding: 30px 20px;
}
.product-details ,.order-summary{
    width: 100%;
    border: 1px solid #999;
    border-radius: 15px;
    padding:15px 20px 5px;
}
.product-details table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.product-details th ,.product-details td{
    border-bottom: 1px solid #999;
    padding: 10px;
}
.product-details tr:last-child td{
    border-bottom: none;
}


.product-details .product{
    display: flex;
    align-items: center;
}
.product-details  .pImage{
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details p, .order-summary .sum-head{
    font-weight: 600;
}
.product-details .prize{
    font-size: 25px;
}

.product-details .product .img-det{
    padding: 10px;
    margin-left: 10px;
}
.product-details .product .img-det p{
    font-weight: 600;
    font-size: 1.2rem;
}
.product-details .product .img-det span{
    font-size: 12px;
    color: #888;
}
.product-details .actions i{
    font-size: 20px;
}

.quen{
    border: 1px solid #000;
    padding:  0 15px;
    border-radius: 15px;
    display: inline-block;
}

.order-summary {
    width: 560px;
}

.order-summary .sum-head{
    padding: 10px 0;
}
.order-summary .discount-form ,.prize-details .p-item,.p-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5px 0;
}

.order-summary .discount-form input{
    /* gap: 10px; */
    margin-right: 10px;
    width: 100%;
}

.order-summary .discount-form input,.discount-form button{
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 25px;
}
.order-summary .prize-details{
    padding: 15px 0;
    border-bottom: 1px solid;
}
.prize-details .p-item p{
    font-size: 14px;
}
.prize-details .p-item span,.p-total p{
    font-size: 16px;
    font-weight: 600;
}

.p-total{
    padding: 15px 0;
}

.p-total span{
    font-size: 24px;
}

.btn{
    padding: 12px 25px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
}
.summary{
    position: relative;
    height: 100%;
}
.check-out{
    bottom: 20px;
    position: absolute;
    width: 100%;
    cursor: pointer;
}


main .container{
    background: url( "/images/watch-3.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.product-container{
    padding: 20px 20%;

}
.product-list{
    display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.product-item{
   display: flex;
   overflow: hidden;
    cursor: pointer;
}
.product-item img{  
    width: 320px;
    height: 400px;
    object-fit: cover;
}


.product-item {
    position: relative;
    transition: transform 0.3s ease;
}

.product-item .cart-card{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .6s ease-in
}
.product-item:hover .cart-card{
    opacity: 1;
    pointer-events: auto;
}
.product-item .cart-card .cart-btn i{
    font-size: 2.5rem;
    color: #fff;
}



@media (max-width:676px) {
    .product-item img{  
    width: 100%;
    height: 100%;

}
}